* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 90%;
  word-break: break-all;
  color: #fff;
  font-size: 5rem;
  text-align: center;
  text-shadow: 0px 0px 8px #090;
}

.inputs {
  width: clamp(14rem, 25%, 80%);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputs input {
  box-shadow: 0 0 4px #090;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #090;
  border-radius: 1rem;
}

.footer {
  color: #090;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 4px #090;
}
.footer a:hover {
  color: #090;
  text-decoration: underline;
}
